.btn-p {
    font-family: "Inter", sans-serif;
    padding: 12px 22px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border: solid 1px #0B0B0F;
    color: aliceblue;
    background-image: linear-gradient(#18C8FF,#933FFE);
    margin-left: 10PX;
}


body{
    background-color: #0B0B0F;
    justify-content: center;
    overflow: hidden;
}

.LOGO  {
    color: aliceblue;
}

.btn-s {
    font-family: "Inter", sans-serif;
    padding: 11px 21px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border: solid 1px;
    color: #ffffff;
    background-color: transparent;
}

.link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: aliceblue;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}

li {
    padding: 0px 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1400PX;
    padding: 0PX 20PX;
    width: 100%;    
}

.nav-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0px;
}

.text {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 85px;
    color: aliceblue;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: aliceblue;
    text-align: center;
}

.BTN-P2 {
    font-family: "Inter", sans-serif;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    background-image: linear-gradient(#18C8FF,#933FFE);
    margin-left: 10PX;
}

.blur1 {
    position: absolute;
    left: -120px;
    top: -200px;
    z-index: -1;
}

.blur2 {
    position: absolute;
    z-index: -1;
    right: -320px;
    bottom: -100px;
}

.sphr1 {
    position: absolute;
    z-index: -1;
    right: -100;
    bottom: 120px;
}

.sphr2 {
    position: absolute;
    z-index: -1;
    left: 100px;
    top: 500;
}

.str1 {
    position: absolute;
    z-index: -1;
    left: 200px;
    top: 250px;
}

.str2 {
    position: absolute;
    z-index: -1;
    right: 20px;
    bottom: 30px;
}

.str3 {
    position: absolute;
    z-index: -1;
    top: 200px;
    right: 300px;
}

.bg {
    position: absolute;
    z-index: -2;
    top: -150px;
}

.bg-wrap {
    display: flex;
    justify-content: center;
}
